.best {
    background: url(../images/background/best-bg.jpg) center center / cover no-repeat;
    position: relative;
}

.best__container {
    height: 100%;
    justify-content: center;
    text-align: center;
}

.best__list {
    display: flex;
    align-items: baseline;

    @include phones {
        flex-direction: column;
    }
}

.best__item {
    flex: 1;

    @include tablets {
        margin-right: 0;
    }

    @include phones {
        display: flex;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    .best__picture {
        margin-bottom: rem(40px);
        flex: 1;

        @include phones {
            margin-bottom: 0;
        }

        .best__picture-icon {
            width: 100px;
            height: 100px;
        }
    
    }

    .best__descr {
        padding: 0 20px;
        flex: 3;

        @include phones {
            text-align: start;
            padding-right: 0;
        }
    }
}



.best__title {
    font-family: Lifehuck Medium;
    font-size: 24px;
}

.best__subtitle {
    font-family: Ubuntu-Light;
    font-size: 14px;
}